/* Allow users in sudo group to run flashrom without authentication via pkexec */
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/sbin/flashrom" &&
        subject.isInGroup("sudo")) {
        return polkit.Result.YES;
    }
});
