[Desktop Entry]
Type=Application
Name=FlashHelper
Comment=BIOS Flashing Tool GUI
Exec=FlashHelper
Icon=utilities-terminal
Terminal=false
Categories=System;Utility;
