[Desktop Entry]
Type=Application
Name=FlashHelper
Comment=BIOS Flashing Tool GUI
Exec=FlashHelper
Icon=flashhelper
Terminal=false
Categories=System;Utility;
