# STM32 VSerprog (Typical IDs)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", MODE:="0666"
# Generic ACM (ttyACM0)
KERNEL=="ttyACM*", MODE:="0666"
# Linux SPI (spidev)
KERNEL=="spidev*", MODE:="0666"
